<%= form_for [:lato, @profile], method: method, html: { class: "lato-form", id: "new_profile", multipart: true } do |f| %>

  <div class="form-group">

    <%=raw view(:input).new(type: 'text',
                         value: @profile.name,
                         name: 'profile[name]',
                         label: 'Nome profilo',
                         width: 'half',
                         required: true) %>

   <%=raw view(:input).new(type: 'text',
                        value: @profile.key,
                        name: 'profile[key]',
                        label: 'Chiave univoca',
                        width: 'half',
                        required: true) %>

  </div>

  <div class="form-group">

    <%=raw view(:input).new(type: 'text',
                         value: @profile.facebook_id,
                         name: 'profile[facebook_id]',
                         label: 'Id pagina facebook',
                         width: 'large',
                         required: true) %>

  </div>

  <br>
  <div class="form-group profile-picture">

    <h2 class="form-section-title">Gestione immagine del profilo</h2>

    <%=raw view(:input).new(type: 'file',
                         value: @profile.picture,
                         name: 'profile[picture]',
                         label: 'Immagine profilo',
                         width: 'half',
                         required: false,
                         custom_class: 'profile-picture-input') %>

    <div class="profile-picture-content">
      <img src="<%= @profile.picture.url(:medium) %>" alt="">
      <% if @profile.picture_content_type %>
        <%= link_to 'elimina immagine', lato_delete_profile_picture_path(@profile.id), method: :delete, class: 'lato-button button-red' %>
      <% end %>
    </div>

  </div>
  <br>

  <%= f.submit 'Salva', class: 'lato-button' %>

<% end %>
